.dropdownContent {
    text-align: center;
}

.dropdownContentItem {
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
        scale: 1.2;
    }
}

.toggleBtn {
    width: 100%;
    height: 100%;
    padding-block: 1rem;
}
